[package]
name = "modern_swc_plugins_collection"
version = "0.1.0"
edition = "2021"

[dependencies]

serde_json = { workspace = true }
serde = { workspace = true }
swc_core = { workspace = true, features = [
    "base",
    "common",
    "ecma_ast",
    "ecma_visit",
    "ecma_transforms",
    "ecma_parser",
] }
modern_swc_plugins_utils = { path = "../swc_plugins_utils" }
modern_swc_plugins_core = { path = "../swc_plugins_core" }

# plugins list 
modularize_imports = "0.26.4"
swc_plugin_import = { path = "../plugin_import" }
swc_plugin_lock_corejs_version = { path = "../plugin_lock_corejs_version" }
swc_plugin_lodash = { path = "../plugin_lodash" }
swc_plugin_modernjs_ssr_loader_id = { path = "../plugin_modernjs_ssr_loader_id" }
swc_plugin_react_utils = { path = "../plugin_react_utils" }
swc_plugin_remove_es_module_mark = { path = "../plugin_remove_es_module_mark" }
styled_components = "0.53.4"
styled_jsx = "0.30.4"
swc_emotion = "0.29.4"

[dev-dependencies]
insta = "1.18.2"
